.logoimg {
    max-width:250px;
    width: auto; 
    margin: auto; 
    display: block; 
    padding-top: 50px; 
    padding-bottom: 50px;
}

.logoimg-roomservice {
    max-width:160px;
    width: auto; 
    margin: auto; 
    display: block; 
    padding-top: 15px; 
    padding-bottom: 5px;
}

.logoimg-reidomate {
    max-width:220px;
    width: auto; 
    margin: auto; 
    display: block; 
    padding-top: 15px; 
    padding-bottom: 5px;
}

.logoimg-gokoni {
    max-width:170px;
    width: auto; 
    margin: auto; 
    display: block; 
    padding-top: 0px; 
    padding-bottom: 0px;
}
