<ion-content>
  <div class="container">
    <!-- <img class="logo" src="https://www.gcom.com.br/ImagesAppGcom/logo-spoleto.png" *ngIf="brandId == 5"/>
    <ion-img *ngIf="brandId==202" style="max-width: 280px; width: auto; margin: auto; display: block; padding-top: 15px; padding-bottom: 5px;" src="https://www.gcom.com.br/ImagesAppGcom/logo-nerds-burger.png"></ion-img> -->
    <img class="logo meu-rei-do-mate" [src]="logo_url"/>

    <div class="login-text">
      <h1>Login</h1>
      <p>{{loginPhrase||'Informe seu e-mail para iniciar seu pedido.'}}</p>
    </div>

    <div class="email">
      <ion-label *ngIf="!login_data?.email" position="stacked">E-mail</ion-label>
      <ion-input autocomplete="off" type="email" (keyup)="emailEnter($event)"  (keyup.enter)="requestPassOrRegister()"
        (ionFocus)="emailValidation=''; login_data.email=null; passwordIsRequested=false" [(ngModel)]="tempEmail" clear-input="true"
        [ngClass]="login_data.email?'show-clear-email':''"></ion-input>
        <datalist id="suggestions" #suggestions>
          <option *ngFor="let item of emailSuggestionsList" [value]="item">{{item}}</option>
        </datalist>
      <ion-label>{{emailValidation}}</ion-label>
    </div>

    <div *ngIf="loadInProgress" class="progress">
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </div>

    <div *ngIf="passwordIsRequested && !loadInProgress" class="password">
      <ion-label position="stacked">Senha</ion-label>
      <ion-input (keyup.enter)="userExistis ? gcomSignin() : null" type="password" [(ngModel)]="login_data.password"></ion-input>
    </div>

    <div *ngIf="!loadInProgress" class="pass-recover-link">
      <span class="recover-password gtm-forgot-password" (click)="openModalForgotPassword()">esqueci minha senha</span>
    </div>

    <ion-button *ngIf="!loadInProgress" (click)="userExistis && passwordIsRequested ? gcomSignin() : requestPassOrRegister()" class="btn-continue">Continuar
    </ion-button>

    <div class="custom-divider" *ngIf="brandId == 5">
      <div class="line"></div>
      <p class="text">{{ login_data.email ? 'ou' : 'ou utilize sua conta'}}</p>
    </div>

    <button *ngIf="!login_data.email && brandId == 5" (click)="googleSignin()" class="btn-google">
      <ion-icon src="assets/google.svg"></ion-icon>Google
    </button>

    <button *ngIf="!login_data.email && brandId == 5" (click)="appleSignin()" class="btn-apple">
      <ion-icon name="logo-apple" color="#000000"></ion-icon> Apple
    </button>

    <ion-button *ngIf="login_data.email && brandId == 5" (click)="fastAccessByEmailRequest()"  fill="outline" class="btn-fast-access-email">
      <ion-icon name="lock-closed-outline"></ion-icon> Acesso rápido por e-mail
    </ion-button>

  </div>
</ion-content>
