<div class="layout">
  <ion-button size="large" fill="clear" class="fechar no-ripple no-hover" (click)="dismiss()">
    <ion-icon size="large" name="close"></ion-icon>
  </ion-button>
  <img class="bravo" src="assets/cadastrou-ganhou/bravo.png" alt="Bravo" />

  <div class="textoWrap">
    <h2>Cadastrou, ganhou!</h2>
    <p>
      <strong>Já tem R$ 5,00 garantidos na sua carteira virtual!</strong>
      Vá em Fidelidade e verifique seu extrato. Por lá, você acompanha tudo sobre o Mio, seu programa Fidelidade
      <img class="Coração" src="assets/cadastrou-ganhou/coracao.png" alt="Coração" />
    </p>
    <ion-button (click)="dismiss()" class="continue">Aproveite seu benefício!</ion-button>
  </div>

  <img class="mio" src="assets/cadastrou-ganhou/mio.png" alt="Mio Spoleto" />
</div>
