<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button size="large" fill="clear" (click)="dismiss()"><ion-icon size="large" name="close"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Esqueci a senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!requestVerifyCode && cliente == null">
    <ion-item lines="none">
      <ion-label class="ion-text-wrap" style="font-size: 0.9rem;">Esqueceu sua senha? Sem problema, em poucos passos você pode redifinir sua senha. Informe o e-mail do cadastro que deseja redifinir e enviaremos um código de verificação. Lembre-se de olhar na caixa de spam também.</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">E-mail:</ion-label>
      <ion-input type="email" placeholder="Ex: joao@email.com" [(ngModel)]="email"></ion-input>
    </ion-item>
    <div class="ion-padding">
      <ion-button class="ion-margin-top" style="height: 50px;" expand="block" color="primary" (click)="sendVerifyCode()">Enviar código de verificação</ion-button>
    </div>
  </ion-list>

  <ion-list *ngIf="requestVerifyCode && cliente == null">
    <ion-item lines="none">
      <ion-label class="ion-text-wrap ion-text-center" color="primary"><b>Um código de verificação foi enviado para seu e-mail. Favor digitar o código recebido no campo abaixo.</b></ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Código de Verificação:</ion-label>
      <ion-input type="text" placeholder="Ex: ABCD12" [(ngModel)]="verifyCode"></ion-input>
    </ion-item>
    <div class="ion-padding">
      <ion-button class="ion-margin-top" style="height: 50px;" expand="block" color="success" (click)="checkVerifyCode()">Verificar Código</ion-button>
    </div>
  </ion-list>

  <ion-list *ngIf="cliente != null">
    <ion-item lines="none">
      <ion-label class="ion-text-wrap" color="primary"><b>Olá {{cliente.nome_completo}}! Agora só informar sua nova senha e você está pronto para fazer um pedido.</b></ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Nova Senha:</ion-label>
      <ion-input type="password" placeholder="" [(ngModel)]="newPassword"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Confirme a Nova Senha:</ion-label>
      <ion-input type="password" placeholder="" [(ngModel)]="newPassword2"></ion-input>
    </ion-item>
    <div class="ion-padding">
      <ion-button class="ion-margin-top" style="height: 50px;" expand="block" color="success" (click)="resetPassword()">Redifinir Senha</ion-button>
    </div>
  </ion-list>
  
</ion-content>
